In [3]:
import pandas as pd 
ds=pd.read_csv('../inputdata/crimedb.csv')
ds.head
#classic example of pivot
pd.pivot_table(ds, columns ='Crime Against Women', values ="Title"  , aggfunc='count')

Crime Against Women,1,"1, 10","1,10","1,4","1,4,10",10,11,2,"2,3","2,3,6",...,7,"7, 10","7,10","7,8","7,9",8,"8, 10","8,10","8,9",9
Title,11,3,3,1,1,5,3,11,1,4,...,20,8,18,2,2,45,7,2,1,7

SyntaxError: EOL while scanning string literal (1591596584.py, line 1)